/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&family=Source+Code+Pro:ital@1&display=swap");
@import url("https://kit.fontawesome.com/ecfdf53d85.js");

:root {
  --primary-darkest: #031227;
  --primary-dark: #0a192f;
  --primary-light: #112240;
  --primary-lightest: #233554;
  --primary-shadow: rgba(2, 12, 27, 0.7);

  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);

  --primary-highlight: #64ffda;
  /* --primary-highlight: rgb(255, 242, 64); */
  /* --primary-highlight: rgb(255, 166, 0); */
  /* --primary-highlight: rgb(255, 0, 242); */

  --grey: #b3b0b0;
  --white: #e6f1ff;

  --pink: #f57dff;
  --blue: #57cbff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 48px;
  --xxl: 96px;

  --primary-font: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --secondary-font: "Goldman", "Open Sans", sans-serif;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}

html {
  background-color: var(--primary-darkest);
}

div {
  background-color: var(--primary-darkest);
  color: var(--white);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  font-weight: 300;
}

a {
  color: var(--primary-highlight);
}

a:hover {
  text-decoration: none;
  color: var(--grey);
}

form {
  flex-grow: 1;
}

.u-main-container {
  background-color: var(--primary-darkest);
  margin: var(--m) 10vw;
}

.u-highlight {
  color: var(--primary-highlight);
}

.u-btn {
  background-color: transparent;
  border-color: var(--primary-highlight);
  border-radius: var(--m);
  color: var(--primary-highlight);
  padding: var(--s) var(--m);
}

.u-btn:hover {
  background-color: var(--primary-highlight);
  color: var(--primary-darkest);
  text-decoration: none;
}

.u-transparent {
  opacity: 0.7;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-xxlarge {
  font-size: xx-large;
}

.u-xlarge {
  font-size: x-large;
}

.u-large {
  font-size: large;
}

.u-textCenter {
  text-align: center;
}
