.NavBar-container {
  background-color: var(--primary-darkest);
  padding: var(--m) var(--l);
  color: var(--green);
}

.NavBar-leftside {
  margin-right: 45vw;
  display: flex;
  align-items: center;
}

.NavBar-logo {
  width: 3vw;
  height: auto;
  margin-right: var(--s);
}

.NavBar-title {
  margin-right: var(--l);
  font-size: 1.2em;
}

.NavBar-linkContainer {
  display: flex;
  align-items: center;
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  margin-right: var(--l);
  opacity: 1;
  text-decoration: none;
  font-size: 1.2em;
}

.NavBar-link:hover {
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-item {
  display: flex;
  align-items: center;
}

@media (max-width: 1400px) {
  .NavBar-leftside {
    margin-right: 30vw;
  }
}

@media (max-width: 720px) {
  .NavBar-logo {
    width: 6vw;
  }
}
