.ProjectModule-container {
  border: var(--xs) solid var(--primary-lightest);
  border-radius: var(--m);
  /* background-color: var(--primary-light); */
  padding: var(--m) var(--l);
  /* max-width: 20vw; */
  width: 100%;
}

.ProjectModule-container:hover {
  background-color: var(--primary-light);
  cursor: pointer;
}

.ProjectModule-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--s);
}

.ProjectModule-details > * {
  background-color: transparent;
}

/* .ProjectModule-des > a {
    color: var(--primary-highlight);
}

.ProjectModule-des > a:hover {
    color: var(--primary-highlight);
} */
