.ProjectModule-container {
  border: var(--xs) solid var(--primary-lightest);
  border-radius: var(--m);
  padding: var(--m) var(--l);
  width: 100%;
}

.ProjectModule-container:hover {
  background-color: var(--primary-light);
  cursor: pointer;
}

.ProjectModule-details {
  display: flex;
  justify-content: space-between;
  margin-top: var(--s);
  margin-bottom: var(--s);
}

.ProjectModule-details > * {
  background-color: transparent;
}
