.SearchBar-input {
  margin-right: var(--xs);
}

.SearchBar-btn {
  background-color: transparent;
  border-color: var(--primary-highlight);
  color: var(--primary-highlight);
}

.SearchBar-btn:hover {
  background-color: var(--primary-highlight);
}
