.SearchBar-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.SearchBar-Input {
  font-size: large;
}

.SearchBar-btn {
  background-color: transparent;
  border-color: var(--primary-highlight);
  color: var(--primary-highlight);
  margin-left: var(--xs);
}

.SearchBar-btn:hover {
  background-color: var(--primary-highlight);
}
