.SkillsSection-container {
  display: flex;
  flex-direction: column;
  margin: var(--xl) 0 0 0;
}

.SkillsSection-title {
  margin: 0 2vw var(--m) 2vw;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  max-width: 900px;
  position: relative;
}

.SkillsSection-header {
  display: flex;
  justify-content: center;
}

.SkillsSection-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 7vw;
}

.SkillsSection-line {
  min-width: 25vw;
  justify-self: start;
  margin-left: 0;
  margin-right: 0;
}

.SkillsSection-section > section {
  margin-bottom: 4vh;
}

@media (max-width: 1400px) {
  .SkillsSection-section {
    justify-content: start;
    margin: 0 7vw;
  }
}

@media (max-width: 900px) {
  .SkillsSection-section {
    margin: 0 0;
  }
  .SkillsSection-line {
    min-width: 18vw;
  }
}
