.SkillsSection-container {
  display: flex;
  flex-direction: column;
  margin: var(--xxl) 0 0 0;
}

.SkillsSection-title {
  margin: 0 auto var(--m) auto;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  max-width: 800px;
  position: relative;
}

.SkillsSection-title:before {
  content: "";
  display: block;
  width: 18vw;
  height: 2px;
  background: var(--grey);
  left: 0;
  top: 50%;
  position: absolute;
}

.SkillsSection-title:after {
  content: "";
  display: block;
  width: 18vw;
  height: 2px;
  background: var(--grey);
  right: 0;
  top: 50%;
  position: absolute;
}

.SkillsSection-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10vw;
}

.SkillsSection-section > section {
  margin-bottom: 4vh;
}

@media (max-width: 850px) {
  .SkillsSection-section {
    margin: 0 0;
  }
}
